{% extends 'frontend/base.html' %}

{% block extra_meta_content %}

{% endblock %}

{% comment %} something lik "Centro Mezzago - Prenota un campo" {% endcomment %}
{% block title %}Homepage{% endblock %}

{% comment %} custom imports for CSS and JavaScript {% endcomment %}
{% block css_imports %}

{% endblock %}

{% comment %} page content block {% endcomment %}
{% block content %}
    <div class="container mt-5 p-5 bg-light" style="border-radius:10px">
        <div class="row">
            <div class="col">
                <h1>Base Project</h1>
                <p>
                    This is the <a href="https://fabiobiffi.it">Fabio Biffi</a> BaseProject. A solid skeleton you can use 
                    for your personal project.
                </p>
            </div>
        </div>
    </div>
{% endblock %}