{% extends 'frontend/base.html' %}
{% load static %}
{% block extra_meta_content %}

{% endblock %}

{% block title %}Homepage{% endblock %}

{% comment %} custom imports for CSS and JavaScript {% endcomment %}
{% block css_imports %}
<link href="{% static 'css/homepage.css' %}" rel="stylesheet" /> 
{% endblock %}

{% comment %} page content block {% endcomment %}
{% block content %}
<nav class="navbar navbar-expand-lg text-dark" style="background:#22C9FF">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="#">Base Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <small>By Fabio Biffi</small>
            </li>
          </ul>
        <div class="d-flex" role="search">
          <a href="{% url 'admin:index' %}" class="btn btn-warning" type="submit">Admin Panel</a>
        </div>
      </div>
    </div>
  </nav>

<div class="container mt-5 p-5" style="border-radius:10px">
    <div class="row">
        <div class="col">
            <h1>Base Project</h1>
            <p>
                This is the <a href="https://fabiobiffi.it">Fabio Biffi</a> BaseProject. A solid skeleton you can use 
                for your personal project.
            </p>

            <h4>What is inside this project?</h4>
            <p>With the Base Project you have:</p>
            <ul>
                <li>Docker containers with microservices
                    <ul>
                        <li>Nginx</li>
                        <li>Postgres</li>
                        <li>Application
                            <ul>
                                <li>Django: <a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a></li>
                                <li>Unfold: <a href="https://unfoldadmin.com/" target="_blank">https://unfoldadmin.com/</a></li>
                                <li>Bootstrap: <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></li>
                                <li>VueJS (as CDN): <a href="https://vuejs.org/guide/quick-start.html#using-vue-from-cdn" target="_blank">https://vuejs.org/guide/quick-start.html#using-vue-from-cdn</a></li>
                                <li>UV package manager: <a href="https://docs.astral.sh/uv/" target="_blank">https://docs.astral.sh/uv/</a></li>
                            </ul>
                        </li>
                        <li>Application Test with Pytest</li>
                    </ul>
                </li>
            </ul>

            <p>Admin credentials: username: <b>admin</b> - password: <b>password</b></p>

        </div>
    </div>
</div>
{% endblock %}